<nav class="navbar mx-3">
    <div class="container-fluid">
      <a href="/backstock">
        <img class="logo" src="/assets/default.png" alt="Backstock Logo">
      </a>
      <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span><i class="fa-solid fa-bars"></i></span>
      </a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/backstock">Backstock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/restock">Restock Shopping List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout">Logout</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
      